body {
    font-family: Arial, sans-serif;
    background-color: lightcoral;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.name{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: cornflowerblue;
    text-decoration: double;

}
.image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image img {
    width: 100%;
    height: 60%;
   
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.overlay:hover {
    opacity: 1;
}

.caption {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.lightbox-content {
    position: relative;
    text-align: center;
    margin-top: 10%;
}

.lightbox-img {
    max-width: 90%;
    max-height: 70vh;
    margin: 0 auto;
    display: block;
    padding-left: 400px;
}

.lightbox-caption {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    display: block;
    padding-left: 400px;
}

.close-btn {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.prev-btn,
.next-btn {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev-btn {
    left: 30px;
}

.next-btn {
    right: 30px;
}
